body {
    font-family: 'Cuprum', sans-serif;
    background: -webkit-linear-gradient(left, #7577FA 20px, transparent 1%) center, -webkit-linear-gradient(#7577FA 20px, transparent 1%) center, #9192FB;
    background: linear-gradient(90deg, #7577FA 20px, transparent 1%) center, linear-gradient(#7577FA 20px, transparent 1%) center, #9192FB;
    background-size: 22px 22px;      
}

#instructions {
    background: lightseagreen
}

.h1 {
    font-family: 'Cinzel', serif;
    background: #9192FB;
}

img {
    height: 200px;
    width: 200px;
}